
.btn {
    background-color: #fff;
}

.portfolio {
    position: relative;
    min-height: 600px;
}


.portfolio-list img{
    float: left;
    margin: 2.5%;
    position: relative;
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f1f1;
}

.portfolio-list:hover .grid-overlay {
    opacity: 1;
}

.grid-caption {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
    font-size: 16px;
}

.grid-overlay {
    position: absolute;
    color: #fff;
    top: 8px;
    left: 21px;
    background: rgba(0,0,0,.7);
    text-align: center;
    transition: opacity .3s;
    width: 92%;
    height: 95%;
    opacity: 0;
    z-index: 9;
}

.portfolio-list img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.img-overlay{
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: 0.9;
}

.portfolio-filter {
    display: block;
    margin: 0 auto;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 0px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;

}
.filter-button:hover
{
    border: 1px solid #000;
    text-align: center;
    color: #ffffff;
    background-color: #000;

}
.btn-default:active .filter-button:active
{
    background-color: #000;
    color: white;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 90%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
